html {
    font-size: 15px;
}

header {
    background: #FFFFFF;
    /* Other styles for header */
}

/* Add this to your styles.css */
.upper-bar {
    height: 50px; /* Adjust the height as needed */
}

.lower-bar {
    height: 81px; /* Adjust the height as needed */
    display: flex;
    align-items: center;
    padding: 0 20px; /* Adjust padding as needed */
}

.header-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
}

.header-logo {
    width: 74px;
    height: 90px;
    margin-left: 159px;
}

.title {
    margin-left: 10px;
    font-family: Baumans;
    font-size: 29px;
    font-weight: 400; /* Space between logo and title */
    /* Add other styling for title (font-size, color) as needed */
}

nav {
    /* If additional styling is needed */
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav li {
    padding: 0 15px; /* Adjust spacing between nav items as needed */
}

nav a {
    text-decoration: none;
    color: #FFF; /* Change color as needed */
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

/* Add responsive behavior as needed */
@media (max-width: 768px) {
    .header-content {
        flex-direction: column;
    }

    .logo-container {
        top: 10px;
        left: 159px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav li {
        padding: 5px 0;
    }
}

nav ul {
    list-style: none;
    /* Other styles for navigation */
}

nav ul li {
    display: inline;
    margin-right: 20px;
    /* Other styles for navigation items */
}

nav ul li a {
    text-decoration: none;
    color: #001936;
    font-weight: 600;
    /* Other styles for links */
}

body {
    background-color: #F7F5F3;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: #001936;
}

/* Add this to your styles.css */
body, h1, ul, li {
    margin: 0;
    padding: 0;
}

main {
    padding: 20px;
    /* Other styles for main content */
}

/* You may want to adjust the top margin of the #value section if the heading overlaps */
#value {
    margin-top: 60px; /* Adjust this value so that there's space between the heading and the value items */
}

.our-value-container {
    max-width: 1200px; /* Adjust to the width of your content area */
    margin: 0 auto; /* Center the container */
    padding: 20px; /* Add some padding */
}

.our-value-heading {
    text-align: left;
    font-size: 29px;
    font-weight: bold;
    margin-bottom: 20px; /* Space below the heading */
}

.value-items {
    display: flex;
    justify-content: space-between; /* Distribute space between the items */
    flex-wrap: wrap; /* Allow the boxes to wrap onto the next line */
    gap: 20px; /* Adjust the gap between the items as needed */
}

.value-item-first {
    background: #D17060; /* Use a light background, or as per your design */
    border-radius: 20px 0 20px 0; /* Rounded corners as seen in the mockup */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Subtle shadow */
    flex-basis: calc(25% - 20px); /* 4 items per row, accounting for the gap */
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align text to the start */
    padding: 20px; /* Padding within the boxes */
    box-sizing: border-box; /* Include padding in the box's width */
    position: relative;

}

.value-icon-first {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 50px;
    height: auto;
}

.value-item-second {
    background: #779E9C; /* Use a light background, or as per your design */
    border-radius: 20px 0 20px 0; /* Rounded corners as seen in the mockup */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Subtle shadow */
    flex-basis: calc(25% - 20px); /* 4 items per row, accounting for the gap */
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align text to the start */
    padding: 20px; /* Padding within the boxes */
    box-sizing: border-box; /* Include padding in the box's width */
    position: relative;
}

.value-icon-second {
    position: absolute;
    top: 20px;
    right: 10px;
    width: 50px;
    height: auto;
}

.value-item-third {
    background: #EA876C; /* Use a light background, or as per your design */
    border-radius: 20px 0 20px 0; /* Rounded corners as seen in the mockup */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Subtle shadow */
    flex-basis: calc(25% - 20px); /* 4 items per row, accounting for the gap */
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align text to the start */
    padding: 20px; /* Padding within the boxes */
    box-sizing: border-box; /* Include padding in the box's width */
    position: relative;
}

.value-icon-third {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 50px;
    height: auto;
}

.value-item-fourth {
    background: #A7DBC0; /* Use a light background, or as per your design */
    border-radius: 20px 0 20px 0; /* Rounded corners as seen in the mockup */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Subtle shadow */
    flex-basis: calc(25% - 20px); /* 4 items per row, accounting for the gap */
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align text to the start */
    padding: 20px; /* Padding within the boxes */
    box-sizing: border-box; /* Include padding in the box's width */
    position: relative;
}

.value-icon-fourth {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 50px;
    height: auto;
}

.value-item-first h3, .value-item-second h3, .value-item-third h3  {
    margin-top: 20px;
    margin-bottom: 0; /* Adjust as needed to ensure uniform start of text */
    margin-right: 40px;
}

.value-item-fourth h3 {
    margin-top: 0;
    margin-bottom: 0; /* Adjust as needed to ensure uniform start of text */
    margin-right: 40px;
}

.value-item-first p {
    margin-top: 8px;
    margin-bottom: 10px;
}

.value-item-second p, .value-item-third p {
    margin-top: 35px;
    margin-bottom: 10px;
}

.value-item-fourth p {
    margin-top: 0;
    margin-bottom: 10px;
}

/* Responsive adjustment */
@media (max-width: 1200px) {
    .value-item {
        flex-basis: calc(50% - 20px); /* 2 items per row on smaller screens */
    }
}

@media (max-width: 768px) {
    .value-item {
        flex-basis: 100%; /* 1 item per row on mobile screens */
    }
}

footer {
    background-color: #8CDAB1;
    font-family: 'Inter', sans-serif;
    padding: 20px 0;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 735px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.footer-top {
    display: flex;
    width: 100%;
    justify-content: space-between; /* Place logo and form side by side */
    align-items: start; /* Align items to the start of the flex container */
    margin-bottom: 10px; /* Space between this section and the links */
}

.footer-logo {
    flex: 0 auto;
    margin-right: -200px;
}

.footer-logo img {
    width: 100%;
    height: auto;
}

.footer-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 320px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    gap: 10px;
}

.footer-form h3 {
    font-weight: 600;
    color: #001936;
}

.footer-form input,
.footer-form textarea,
.footer-form button {
    width: calc(100% - 20px); /* Account for padding */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
}

.footer-form button {
    background-color: #355FFE;
    color: white;
    border: none;
    cursor: pointer;
    margin-bottom: 10px; /* Space between button and links */
}

.footer-links-container {
    display: flex;
    flex-direction: row; /* Adjust this if you want the links in a row or column based on your design */
    justify-content: center; /* Centers the links container horizontally */
    flex-wrap: wrap; /* Allows the link items to wrap on smaller screens */
    align-items: center; /* Vertically centers the items */
    width: 100%; /* Takes full width of its parent */
    margin: 0 auto; /* Centers the container */
    gap: 20px;
}

.left-links,
.right-links {
    display: flex;
    flex-direction: column;
    margin: 0 20px; /* Space between the two columns */
}

.left-links a,
.right-links a {
    /* Styling for the anchor tags */
    text-decoration: none;
    color: #001936; /* Footer link color */
    font-family: 'Inter', sans-serif;
    font-size: 14px; /* Adjust the font size as needed */
    font-weight: 600;
    margin-bottom: 8px; /* Space between the links */
}

.footer-socials {
    display: flex;
    justify-content: center; /* Center the social icons container horizontally */
    align-items: center; /* Vertically centers the items */
    width: 100%; /* Ensures the socials container spans the full width */
    margin: 0 auto; /* Adds space above and centers the container, adjust as needed */
    gap: 20px;
}

.footer-socials a {
    display: inline-block;
    margin: 0 10px;
}

/* Social media images should be small enough to fit the design */
.footer-socials img {
    width: 200px; /* Example size, adjust as needed */
    height: auto;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .footer-form,
    .footer-links-container {
        max-width: 100%;
    }
    .footer-links a,
    .footer-socials a {
        margin: 0 auto; /* Center-align the links */
        display: block; /* Stack links */
    }
}




